body {
    background-color: rgb(164, 180, 164);
}

#FonteA {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(109, 61, 109);
}

.FonteB {
    font-family: Comic Sans MS;
    color: rgb(102, 27, 172);
    justify-content: center;
    display:flex;
}

.container {
    display: flex;
    align-items:center;
    gap:20px;
}

.imagem {
    max-width:20px;
    height:auto;
}
