html, body {
    height: 100%;
    margin: 0;
}
body {
    background: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(129, 39, 39));
}
#FonteA {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(171, 209, 178);
    text-align: center;
    font-size: 40px;
}

.FonteB {
    font-family: Comic Sans MS;
    color: rgb(156, 106, 106);
    justify-content: center;
    display:flex;
    font-size:25px;
}

.container {
    display: flex;
    align-items:center;
    gap:20px;
}

.imagem {
    max-width:400px;
    height:auto;
    border: 2.5px solid rgb(128, 47, 47);
}
